<footer class="navbar-fixed-bottom">
<!-- Я такааая социальная ) -->
<div class="i-am-social">
Социальный профиль <a href="https://plus.google.com/communities/105403708395241766677" target="_blank" rel="nofollow">google+</a> и <a href="https://vk.com/remont_komputerov_v_moskve" target="_blank" rel="nofollow">вконтакте</a>. Подписывайтесь и следите за новостями!
</div>

<div class="like-me-please">
<script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div class="pluso" data-background="transparent" data-options="small,round,line,horizontal,nocounter,theme=06" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir"></div>
<!-- /Я такааая социальная ) -->
</footer>
</div>