<script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div class="pluso" data-background="transparent" data-options="small,round,line,horizontal,nocounter,theme=06" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir"></div>



<!-- jQuery Version 1.11.1 -->
    <script src="{{ site.baseurl }}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript --> 
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ site.baseurl }}js/classie.js"></script>
    <script src="{{ site.baseurl }}js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ site.baseurl }}js/jqBootstrapValidation.js"></script>
    <script src="{{ site.baseurl }}js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ site.baseurl }}js/Graceful.js"></script>

    <!-- Всплывающие окошечки -->
    <script src="{{ site.baseurl }}js/bootstrap-popover.js"> </script>


{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');

</script>
{% endif %}

<link rel="stylesheet" href="//cdn.callbackhunter.com/widget/tracker.css">
<script type="text/javascript" src="//cdn.callbackhunter.com/widget/tracker.js" charset="UTF-8"></script> <script type="text/javascript">var hunter_code="24d1643123dbafd911dcaeb0a3ad94b4";</script>
